page {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

.latest-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 垂直居中 */
    margin: 20px auto;
    /* 水平居中 */
    width: 80%;
    /* 加大左右宽度，可根据需要调整 */
    padding: 10px;
    flex-direction: column
}

.choose-items-wrapper {
    display: flex;
    flex-direction: column; /* 添加这一行：改为纵向排列 */
    justify-content: center;
    align-items: center;    
    gap: 20px;  
}

.choose-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}

.choose-image {
    width: 30rem;
    height: 10rem;
    margin-bottom: 1rem;
}

.choose-label {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    /* 可根据需要调整文字与图片的间距 */
    font-size: 50px;
    /* 可根据需要调整文字大小 */
    font-weight: bold;
    /* 可根据需要设置文字粗细 */
    position: relative;
    /* 为伪元素定位做准备 */
}

.choose-label::after {
    content: '';
    position: absolute;
    bottom: -5px;
    /* 可调整分割线与文字的间距 */
    left: 50%;
    /* 将分割线左边缘置于父元素中心 */
    transform: translateX(-50%);
    /* 向左移动自身宽度的一半以实现居中 */
    width: 50%;
    /* 可调整分割线的长度 */
    height: 1px;
    background-color: #ccc;
}

/* 选中图片样式 */
.selected {
    border-radius: 5px;
    /* 添加阴影 */
    transition: all 0.3s ease;
    /* 添加过渡效果 */
}

.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 30rpx;
    border-radius: 16rpx;
    width: 80%;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
}